/** Import Google Fonts -Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: linear-gradient(#EEEEFF, #C8C7FF)
}

.chatbot-popup {
  position: relative;
  width: 400px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px  20px;
  background: #5350C4;
}

.chat-header .header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-info .chatbot-logo {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
  fill: #5350C4;

}

.header-info .logo-text{
  font-size: 1.31rem;
  font-weight: 600;
  color: #fff;
} 

.chat-header #close-chatbot {
  height: 40px;
  width: 40px;
  font-size: 1.8rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.8rem;
  margin-right: -10px;
  padding-top: 2px;
  background: none;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
  background: #2e2a8c;
}

.chat-body {
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 460px;
  margin-bottom: 82px;
  overflow-y: auto;
}

.chat-body .message{
  display: flex;
  gap: 11px;
  align-items: center;
 
}

.chat-body .bot-message .bot-avatar {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  background: #5350C4;
  border-radius: 50%;
  fill: #fff;
  margin-bottom: 2px;
  align-self: flex-end;
  
}


.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .message .message-text {
  max-width: 75%;
  padding: 12px 16px;
  background: #F2F2FF;
  font-size: 0.95rem;
}

.chat-body .bot-message.thinking .message-text {
  padding: 2px 16px;
}


.chat-body .bot-message .message-text {
  background: #F2F2FF;
  border-radius: 13px 13px 13px 3px;
}


.chat-body .user-message .message-text {
  color: #fff;
  background: #4141c6;
  border-radius: 13px 13px 13px 3px;
}


/**Chat Bot thinking indicator styling */
.chat-body .bot-message .thinking-indicator {
  display: flex;
  gap: 5px;
  margin-top: -5px;
  padding-block: 15px;
}


/* Styling the dots for the thinking indicator */
/*Animations for the pulsing effect of the dots */
.chat-body .bot-message .thinking-indicator .dot {
  background: #6F6BC2;
  height: 7px;
  width: 7px;
  opacity: 0.4;
  border-radius: 50%;
  animation: dotPulse 1.4s ease-in-out infinite;
}

/* Adding delay to the second and third dot for a sequential pulsing effect */

.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
  animation-delay: 0.2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
  animation-delay: 0.3s;
}


.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

/**
@keyframes dotPulse {
  0%, 80%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.4);
  }
  28% {
    opacity: 0.5;
    transform: scale(0.95);
  }

  44% {
    opacity: 0.2;
  }
}
**/

@keyframes dotPulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}


/**Chat footer */

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;

}


/**Chat form styling */

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  outline: 1px solid #CCCCE5;
}


.chat-footer .chat-form:focus-within {
  outline: 2px solid #5350C4;
}


.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 14px 0 13px 18px;
  font-size: 0.90rem;
  resize: none;
  border-radius: inherit;
}

.chat-form .chat-controls {
  display: flex;
  height: 47px;
  gap: 3px;
  align-items: center;
  align-self: flex-end;
  padding-right: 6px;
}

.chat-form .chat-controls button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: none;
  color: #706DB0;
  border: none;
  cursor: pointer;
  font-size: 1.15rem; 
  transition: 0.2s ease;
  
}

.chat-form .chat-controls button:hover {
  background: #f1f1f1;

}


/**send message button styling */

.chat-form .chat-controls #send-message {
  background: #5350C4;
  color: #fff;
  display: none;
  font-size: 1.25rem;
}


.chat-form .message-input:valid~.chat-controls #send-message{
  display: block;
}


.chat-form .chat-controls #send-message:hover {
  background: #3d39ac;
}



/**
.chat-footer .chat-form input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 0.95rem;
}**/